/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;

  background: url("../images/bgtile.png") #fff repeat-x fixed;
}

div.container {
  width: 890px;

  margin: 90px  auto; /*  auto in container so you can float */
  overflow: hidden;  /* Put float clean in parent  */

}

div.float-phone {
  float: left;
}

img.icons {
      /* top | right | bottom | left */
 padding: 12px 12px 8px 0px;


}

div.content {
  float: right;
  width: 520px;
  height: 550px;

}

div.body-content {
    background: url("../images/frame.png") no-repeat;
    padding: 40px;

}


p {
 line-height: 1.5em;
 color: #1c5380;
}

h2 {
  margin: 0px;
  color: #06365f;
  font-size: 25;
  padding: 0px;

}

footer li {
  display: inline-block;
  margin-right: 10px;
  line-height: 60px;
  line-height: 16PX;
  text-transform: uppercase;
}

/* Add a black background color to the top navigation */
.footer-nav {

    overflow: hidden;
    text-align: center;
}

/* Style the links inside the navigation */
.footer-nav a {
    float: left;

    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 11px;
    font-weight: bold;
    color: #1c5380;

}
/* Change the color of links on hover */
.footer-nav a:hover {

    color: #1c5380;
    text-decoration: underline;
}

/* Add a color to the active/current link */
.footer-nav a.active {

      color: #1c5380;
      text-align: center;
}

footer {
  font-size: 11px;
  font-weight: bold;
  color: #1c5380;
  background-color: -color: red;

  }
